*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ------------------Navbar -------------------- */





/* ------------------------------------------------------------------------ */

        /* <!-- --------Home page--------- --> */





/* ----------------------------------------------------------------------- */

        /* <!-- ---------Data Analytics Course Overview-------- --> */





/* -------------------------------------------------------------------------- */
        /* <!-- -----------Journey Of Our Learners--------------- --> */






/* ----------------------------------------------------------------------------- */

        /* <!-- -----------Batch schedule--------- --> */
  




        /* ------------------------------------------------------------------------- */

        /* <!-- --------Data Analytics Course Syllabus---------- --> */





       /* -------------------------------------------------------------------------- */

        /* <!-- -----------Placement Companies----------- --> */






/* ----------------------------------------------------------------------------------- */

        /* <!-- ----------Our Students Review-------------- --> */






/* --------------------------------------------------------------------------------- */

        /* <!-- -----------Get Certificate---------- --> */






/* -------------------------------------------------------------------------------- */

        /* <!-- ---------Frequently Asked Questions------------ --> */





/* ----------------------------------------------------------------------------------- */

        /* <!-- -----------Lanunch your text career today--------------- --> */




/* -------------------------------------------------------------------------- */